.box {
    width: 1000px;
    height: 500px;
    background-color: rgb(255, 145, 0);
    border: 7px solid #000000;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 32px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  header {
background-color: #000000 ;
color: rgb(255, 255, 255) ;
text-align: center;
padding: 10px;
font-size: 30px;
  }